POSTGRES_USER="example_user"
POSTGRES_PASSWORD="example_password"

POSTGRES_DB="example_db"

DATABASE_URL="postgresql://example_user:example_password@localhost:5432/example_db?schema=public"

PORT=123

JWT_SECRET="SECRET"

NODE_ENV=example